@font-face {
    font-family: copperplate;
    src: url(../fonts/CopperplateCC/ttf/CopperplateCC-Bold.ttf)
}
body {
    background-image: url(../images/Warehouse-Background.jpg);
    background-repeat: no-repeat;
    background-color: #222222;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
h2 {
    color: white;
    font-size: 25px;
    font-family: copperplate;
}

.hours {
    display: grid;
    text-align: center;
    margin: 75px;
}


.logo {
    display: grid;
    justify-content: center;
    margin: 75px;
}

.address {
    display: grid;
    text-align: center;
    margin: 75px;
}


.sm-icons {
    display: flex;
    justify-content: center;
    margin: 75px;
}




/* -------- Begin Styling for About Page-------- */



@font-face {
    font-family: molle;
    src: url(https://fonts.googleapis.com/css2?family=Molle);
}
@font-face {
    font-family: copperplate;
    src: url(../fonts/CopperplateCC/ttf/CopperplateCC-Bold.ttf);
}

h1 {
    color: #E0C49B;
    font-family: 'molle', cursive;
    font-size: 75px;
}
h3 {
    color: white;
    font-size: 30px;
}
p {
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    text-align: center;
    padding: 14px 16px;
}

/* -------- Header Section, Buttons, Navigation -------- */

a:link {
    text-decoration: none;
    color: white;
}
a:visited {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
    color: white;
}
a:active {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.header-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.menu-button {
    background-color: rgba(0,0,0,0);
    border: none;
    color: white;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 150px;
    font-size: 35px;
}
.menu-button-active {
    background-color: #54AD55;
    border: none;
    color: white;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 150px;
    font-size: 35px;
}

.primary-button {
    text-decoration: none;
    background-color: #9E2A25;
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 40px;
    text-align: center;
    font-size: 25px;
}
.secondary-button {
    text-decoration: none;
    background-color: #946734;
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 40px;
    text-align: center;
    font-size: 25px;
}
.tt-button {
    text-decoration: none;
    background-color: #23173D;
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 15px;
    text-align: center;
    font-size: 25px;
}

/* -------- About: My Story Section -------- */

.story-container {
    display: grid;
    align-self: center;
    width: 75%;
    height: auto;
    margin: auto;
}

.story {
    display: inline-block;
    width: 100%;
    border-style: solid;
    border-color: #946734;
    background-color: black;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 95px;
    padding-right: 95px;
    font-size: 40px;
}

 /* -------- About: The Meet The Team "Gallery" Section -------- */

.team-gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: auto;
    margin: auto;
}
 .team-gallery-background {
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,.6);
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
 }
 .team-gallery-frame {
    width: 100%;
 }
 .team-member {
    border-radius: 20px;
    border-color:#946734;
 }
 .team-member-desc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-color: black;
    color: #E0C49B;
    border-radius: 20px;
 }

 /* -------- About: Testimonials Section -------- */

 .testimonials-container {
    display: flex;
    justify-content: center;
    height:auto;
    width: 75%;
    margin: auto;
 }
 .testimonials {
    background-color: black;
    border-radius: 20px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
 }
 .patron {
    font-size: 20px;
    font-family: copperplate;
 }

 /* -------- Happening: Container Cards -------- */

 .card-container {
    display: flex;
    flex: 30%;
    width: 75%;
    margin: 10%;
    padding-left: 200px;
 }
.card-background {
    display: inline-block;
    background-color: rgba(0,0,0,.8);
    border-radius: 20px;
    border-color:#946734;
    border-width: 2px;
    width: 98%;
    height: auto;
    padding-left: 40px;
    padding-right: 40px;
}
.image-ufc {
    height: auto;
    max-width: 100%;
}

 /* -------- Footer Section -------- */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-text {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    column-gap: 40px;
    background-color: #000000;
    padding-left: 20px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    background-image: linear-gradient(to right, #000000, #946734);
    padding-left: 20px;
    padding-right: 20px;
}


@media all and (min-width: 1024px) and (max-width: 1280px)